* {
  margin: 0;
  padding: 0;
  border: 0;
}

/* Fondo de pantalla */
.portada {
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxvqFM1tkpsqBWxevQYAnFftJjyAuIc1Fk5g&usqp=CAU');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 600px;
  background-color: white;
}

/* css del body */

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Css del PLAY */

#contPlay {
  font-size: 4rem;
  font-family: fantasy;
  margin-top: 5rem;
}

.play {
  text-decoration: none;
  color: blue;
  background-color: orange;
  border-radius: 50%;
  border: solid blue;
  padding: 1rem;
  box-shadow: 6px 6px 5px rgb(10, 56, 71);
  text-shadow: 2px 2px red;
  transition: all 0.3s ease;
}

.play:hover {
  color: fuchsia;
  background-color: yellow;
  box-shadow: 2px 2px 5px;
  text-shadow: 2px 2px rgb(21, 0, 255);
}

/* Css de las instrucciones */

.container {
  margin-top: 1rem;
  text-align: center;
  box-shadow: 5px 5px 10px rgb(91, 144, 190);
  border: solid blue 2px;
  border-radius: 30px;
}

.titulo {
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
  text-shadow: 2px 2px 2px rgb(166, 50, 205);
}

.instrucciones {
  color: black;
  line-height: 1.5;
  font-weight: bold;
  font-size: 0.9rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-left: 10vw;
  margin-right: 10vw;
}

/* Css footer */
footer {
  color: black;
  background-color: white;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* adaptacion a pantalla grande */
@media screen and (min-width: 750px) {
  .portada {
    background-size: 700px;
    background-position: bottom;
  }

  #contPlay {
    font-size: 7rem;
    margin-top: 20vh;
  }

  .play {
    background-color: rgba(104, 48, 130, 0.771);
    color: rgb(255, 255, 255);
    border: rgba(112, 11, 167, 0.521) solid 3px;
    box-shadow: 4px 4px 4px rgb(80, 2, 94);
    text-shadow: 0 0 5px rgb(7, 249, 209), 0 0 15px rgb(7, 249, 209),
      0 0 30px rgb(7, 249, 209);
  }
  .play:hover {
    background-color: rgba(7, 249, 209, 0.686);
    color: rgb(255, 255, 255);
    text-shadow: 0 0 5px rgba(104, 48, 130), 0 0 15px rgba(104, 48, 130),
      0 0 30px rgba(104, 48, 130);
    border: solid 2px rgba(112, 11, 167, 0.521);
    box-shadow: inset 0 0 5px rgba(104, 48, 130), 0 0 10px rgba(104, 48, 130);
  }
}
